@page
@model sklepInternetowy.Pages.Clients.IndexModel
@{
}

<br />
<h2>Lista towarów</h2>
<a class='btn btn-primary btn-sm' href='/Towar/Create'>Nowy towar</a>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nazwa towaru</th>
            <th>Cena</th>
            <th>Opis</th>
            <th>Akcja</th>
        </tr>

    </thead>
    <tbody>
        @foreach(var item in Model.listClients)
        {
            <tr>
                <td>@item.id</td>
                <td>@item.name</td>
                <td>@item.price</td>
                <td>@item.descr</td>
                <td>
                    <a class="btn btn-primary btn-sm" href="/Towar/Add?id=@item.id">Do koszyka</a>
                    <a class ="btn btn-primary btn-sm" href="/Towar/Edit?id=@item.id">Edytuj</a>
                    <a class ="btn btn-danger btn-sm" href="/Towar/Delete?id=@item.id">Usuń</a>
                </td>
            </tr>
            
        }
    </tbody>
</table>
